{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [
        ["module-resolver", {
          "alias": {
            "Auth": "./resources/assets/js/app-v1/auth/",
            "AppUtils": "./resources/assets/js/app-v1/utils/",
            "Common": "./resources/assets/js/app-v1/common/",
            "Clients": "./resources/assets/js/app-v1/clients/",
            "Orders": "./resources/assets/js/app-v1/orders/"
          }
        }]
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": "> 2%",
            "uglify": true
          }
        }]
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": "> 2%",
            "uglify": true
          }
        }]
      ]
    }
  },
  "presets": [
    "react",
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "> 2%",
        "uglify": true
      }
    }]
  ],
  "plugins": ["transform-runtime","transform-es2015-destructuring", "transform-object-rest-spread", "transform-decorators-legacy"]
  }